body {
  font-family: "Helvettica", "Arial", sans-serif;
}

.bg-lightgray {
  background-color: #e5e7e9;
}

.text-black {
  color: black !important;
}

.text-underline {
  text-decoration: underline;
}

.border-black {
  border: 1px solid black;
}

.border-radius-20 {
  border-radius: 20px;
}

.btn-show-tel {
  border-radius: 10px;
  background-color: lightblue;
}

.border-bottom-grey {
  border-bottom: 1px solid grey;
}
