<nav class="navbar navbar-expand-sm navbar-light bg-lightgray">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-sm-4 mr-auto">
      <li class="nav-item">
        <span class="navbar-text text-black">Регион:</span>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-underline text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Новосибирск и область
        </a>
        <div class="dropdown-menu bg-darkgray" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Москва и область</a>
          <a class="dropdown-item" href="#">Санкт-Петербург и область</a>
          <a class="dropdown-item" href="#">Краснодар и область</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-underline text-primary" href="#">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-underline text-primary" href="#">выход</a>
      </li>
    </ul>
  </div>
</nav>