<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <link rel="stylesheet" href="../styles.css">

    <link rel="icon" href="../favicon.ico">

    <title>Каталог организаций</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-lightgray">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-sm-4 mr-auto">
          <li class="nav-item">
            <span class="navbar-text text-black">Регион:</span>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-underline text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Новосибирск и область
            </a>
            <div class="dropdown-menu bg-lightgray" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Москва и область</a>
              <a class="dropdown-item" href="#">Санкт-Петербург и область</a>
              <a class="dropdown-item" href="#">Краснодар и область</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-underline text-primary" href="#">Леонид Федорович</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-underline text-primary" href="#">выход</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="col-md-auto text-center m-4">
          <img src="../img/logo.png" alt="site logo">
        </div>
        <div class="col-md-auto text-center pl-0 pr-0">
          <div class="child">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Каталог организаций</li>
              </ol>
            </nav>
          </div>
          <div class="helper">
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center justify-content-lg-start mb-md-3">
        <div class="col-lg-2">
        </div>
        <div class="col-md-auto mb-4 text-center text-md-left">
          <img class="img-fluid" src="http://via.placeholder.com/350x175" alt="Card image cap">
          <div class="pt-3 pl-0">
            <a class="text-underline text-black" href="catalog_suppliers_spec.html"><h5>ЖБИ</h5></a>
          </div>
        </div>
        <div class="col-md-auto mb-4 text-center text-md-left">
          <img class="img-fluid" src="http://via.placeholder.com/350x175" alt="Card image cap">
          <div class="pt-3 pl-0">
            <a class="text-underline text-black" href="#"><h5>Кирпич, Газобетон, Брус</h5></a>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center justify-content-lg-start mb-md-3">
        <div class="col-lg-2">
        </div>
        <div class="col-md-auto mb-4 text-center text-md-left">
          <img class="img-fluid" src="http://via.placeholder.com/350x175" alt="Card image cap">
          <div class="pt-3 pl-0">
            <a class="text-underline text-black" href="#"><h5>Что-то еще</h5></a>
          </div>
        </div>
        <div class="col-md-auto mb-4 text-center text-md-left">
          <img class="img-fluid" src="http://via.placeholder.com/350x175" alt="Card image cap">
          <div class="pt-3 pl-0">
            <a class="text-underline text-black" href="#"><h5>Что-то еще</h5></a>
          </div>
        </div>
      </div>
      <div class="row mb-4 mt-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-auto">
          <h1 class="text-center">Все производители и оптовые компании</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-4 pb-3 pb-lg-0 text-center order-lg-last">
          <a class="btn btn-outline-dark btn-lg border-radius-30" href="index.html#requisition" role="button">Оставить заявку</a>
        </div>
        <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
          <div class="media p-3 border-black margin-top-shift">
            <img class="mr-3" src="../img/company_logo.png" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">ООО Строй-Сервис-Монтаж</h5>
              <b>Место деятельности:</b> Новосибирск<br>
              <b>Продукция:</b> ЖБИ, бетон<br>
              <b>Адрес:</b> Под часами, на том же месте<br>
              <b>Телефон:</b> 00-00-00
            </div>
          </div>
          <div class="media p-3 border-black margin-top-shift">
            <img class="mr-3" src="../img/company_logo.png" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">ООО Строй-Сервис-Монтаж</h5>
              <b>Место деятельности:</b> Новосибирск<br>
              <b>Продукция:</b> ЖБИ, бетон<br>
              <b>Адрес:</b> Под часами, на том же месте<br>
              <b>Телефон:</b> 00-00-00
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-auto mx-auto">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link text-black" href="#" aria-label="Previous">
                      <span aria-hidden="true">&lt;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link text-black" href="#">1</a></li>
                  <li class="page-item"><a class="page-link text-black" href="#">2</a></li>
                  <li class="page-item"><a class="page-link text-black" href="#">3</a></li>
                  <li class="page-item disabled"><a class="page-link text-black" href="#">...</a></li>
                  <li class="page-item"><a class="page-link text-black" href="#">10</a></li>
                  <li class="page-item">
                    <a class="page-link text-black" href="#" aria-label="Next">
                      <span aria-hidden="true">&gt;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="row mt-3 mb-4">
            <div class="col-auto">
              <a class="text-underline" href="index.html#requisition"><h5>Оставить заявку</h5></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row bg-lightgray pt-3 mt-3 border-top-black">
        <div class="col-auto mx-auto">
          <h2>Вы поставщик?</h2>
        </div>
      </div>
      <div class="row bg-lightgray pt-3">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 ml-sm-5 ml-md-0 mr-sm-5 mr-md-0">
          <p>Для доступа к телефонам покупателей заполните форму или позвоните нам <span class="text-nowrap">+7 999 888-77-66</span></p>
          <p>Текст с дополнительной информацией по условиям сотрудничества.<br>
             Возможно стоит вынести его на отдельную страницу.<br>
             Текст с дополнительной информацией по условиям сотрудничества.<br>
            Возможно стоит вынести его на отдельную страницу.
          </p>
        </div>
        <div class="col-md-6 ml-3 ml-sm-0 mr-3 mr-sm-0">
          <form>
            <div class="form-group row">
              <label for="inputNameSupplier" class="col-sm-3 col-form-label text-sm-right pr-0">Организация</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="inputNameSupplier" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPhoneSupplier" class="col-sm-3 col-form-label text-sm-right pr-0">Телефон</label>
              <div class="col-sm-7">
                <input type="tel" class="form-control" id="inputPhoneSupplier" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmailSupplier" class="col-sm-3 col-form-label text-sm-right pr-0">Email</label>
              <div class="col-sm-7">
                <input type="email" class="form-control" id="inputEmailSupplier" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPersonSupplier" class="col-sm-3 col-form-label text-sm-right pr-0">Имя</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="inputPersonSupplier" required>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-3"></div>
              <div class="col-sm-7 text-center text-sm-left">
                <button type="submit" class="btn btn-outline-dark rounded-0">Отправить информацию</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>