{% extends '_base.html' %}
{% block title %}Каталог организаций - ЖБИ{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row align-items-center mb-4">
    <div class="col-md-auto text-center m-4">
      <a href="index.html"><img src="{{ STATIC_URL }}img/logo.png" alt="site logo"></a>
    </div>
    <div class="col-md-auto text-center pl-0 pr-0">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline" href="index.html">Главная</a></li>
          <li class="breadcrumb-item"><a class="text-underline" href="catalog_suppliers_all.html">Каталог организаций</a></li>
          <li class="breadcrumb-item active" aria-current="page">ЖБИ</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row mb-4 mt-5">
    <div class="col-lg-2"></div>
    <div class="col-lg-auto text-center text-lg-left">
      <h1>Производители и оптовые компании<br>в Новосибирске и области</h1>
      <h3 class="mt-3">ЖБИ</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-4 pb-3 pb-lg-0 text-center order-lg-last">
      <a class="btn btn-outline-dark btn-lg border-radius-30" href="index.html#requisition" role="button">Оставить заявку</a>
    </div>
    <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
      {% for __ in range(number_suppliers_info_per_page) %}
        {% include '_supplier_info.html' %}
      {% endfor %}
      <div class="row mt-4">
        <div class="col-auto mx-auto">
          {% include '_paginator.html' %}
        </div>
      </div>
      <div class="row mt-3 mb-4">
        <div class="col-md-auto text-center">
          <a class="text-underline" href="index.html#requisition"><h5>Оставить заявку</h5></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}