{% extends '_base.html' %}
{% block title %}Заявки{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-auto text-center m-4">
      <a href="index.html"><img src="static/img/logo.png" alt="site logo"></a>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-11 col-sm-9 col-md-8 col-lg-7 mx-auto">
      <div class="row mb-3">
        <div class="col pl-0 pr-0 text-center text-md-left">
          <h1>Заявки</h1>
        </div>
      </div>
      {% include '_requisitions_filter.html' %}
      {% for __ in range(number_requisitions_per_page) %}
        {% include '_requisition.html' %}
      {% endfor %}
      <div class="row">
        <div class="col text-center pt-3">
          <a class="btn btn-outline-dark btn-lg width-200 border-radius-30" href="#" role="button">Показать еще</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 mb-3">
    <div class="col-auto mx-auto">
      {% include '_paginator.html' %}
    </div>
  </div>
</div>
{% endblock %}